{% extends 'base.html' %}
{% load static%}
{% block title %}Job detail{% endblock title %}
{% block body %}

   <!-- Job Detail Start -->

   <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <img class="flex-shrink-0 img-fluid border rounded" src="{% static 'img/com-logo-2.jpg' %}" alt="" style="width: 80px; height: 80px;">
                    <div class="text-start ps-4">
                        <h3 class="mb-3">{{ update_jobdetail.job }}</h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{update_jobdetail.state}},{{update_jobdetail.city}}</span>
                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{update_jobdetail.salary}}</span>
                    </div>
                </div>

                <div class="mb-5">
                    <h4 class="mb-3">Job description</h4>
                    <p>{{update_jobdetail.job_desc}}</p>
                    <h4 class="mb-3">Qualifications</h4>
                    <p>Magna et elitr diam sed lorem. Diam diam stet erat no est est. Accusam sed lorem stet voluptua sit sit at stet consetetur, takimata at diam kasd gubergren elitr dolor</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Dolor justo tempor duo ipsum accusam</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Elitr stet dolor vero clita labore gubergren</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Rebum vero dolores dolores elitr</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Est voluptua et sanctus at sanctus erat</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Diam diam stet erat no est est</li>
                    </ul>
                </div>

                <div class="">
                    <h4 class="mb-4">Apply For The Job</h4>
                    <form method="post" action="/insert_application">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" name="name" class="form-control" placeholder="Your Name">
                                <input type="hidden" name="job_id" class="form-control" value="{{update_jobdetail.id}}">
                                <input type="hidden" name="user_id" class="form-control" value="{{update_jobdetail.user_id}}">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="contact" class="form-control" placeholder="Your Mobile" name="contact">
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control" placeholder="Your Email" name="email">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control" rows="5" placeholder="Description" name="description"></textarea>
                            </div>

                            <div class="col-12">
                                {% if job_applications|length == 0 %}
                                <button class="btn btn-primary w-100" type="submit">Apply Now</button>
                                {% else %}
                                <button class="btn btn-primary w-100" type="submit" disabled>Applied</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summery</h4>
                    {% if not update_jobdetail.vacancy %}
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: {{update_jobdetail.vacancy}}</p>
                    {% endif %}
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Job Type:
                        {% if update_jobdetail.job_type == 1 %}
                            FullTime
                        {% else %}
                            PartTime
                        {% endif %}
                    </p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: {{update_jobdetail.salary}}</p>
                    {% if update_jobdetail.contact %}
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Contact: {{update_jobdetail.contact}}</p>
                    {% endif %}
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Location: {{update_jobdetail.state}},{{update_jobdetail.city}}</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: {{update_jobdetail.date_posted}}</p>
                </div>
                <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                    <h4 class="mb-4">Company Detail</h4>
                    <p class="m-0">Ipsum dolor ipsum accusam stet et et diam dolores, sed rebum sadipscing elitr vero dolores. Lorem dolore elitr justo et no gubergren sadipscing, ipsum et takimata aliquyam et rebum est ipsum lorem diam. Et lorem magna eirmod est et et sanctus et, kasd clita labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->


{% endblock body %}

